<h1>New article</h1>

<%=form_for,url:articles_path do |f| %>
<p>
<%=f.label :title %><br/>
<%= f.text_field :title %>

<%=f.table :title %><br/>                                                 
</p>

<p>
<%=f.label :text %><br/>
<%= f.text_field :text %>

<%=f.table :title %><br/>                                                 
</p>
<p>
<%=f.submit %>
	
</p>
<% end %>
